
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Find Location</h1>
                <form action="{{ url_for('findlocation') }}" method="post">
                    <div class="form-group  col-md-6">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">     
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

