{% extends "layout.html" %}

{% block content %}
    <div>
    <h2>Our Services</h2>
    <p>We offer practical solution to finding best routes through multiple location. It is easy and 99.99 percent accurate. </p>
    <p>Our services are available 24/7 and we are always ready to help you with your traveling needs.</p>
    <!-- <button hx-get="/test" hx-swap="outerHTML">Test</button> -->
    <div>
        <h2>Check Map</h2>
        <button class="swap-button"hx-get="/checkmap" hx-swap="outerHTML">Find Location</button>
        

    </div>
</div>
{% endblock %}