{% extends "layout.html" %}

{% block content %}
    <div >
    <h1>Our Services</h1>
    <h2>Location Map Serive</h2>
    <p>We offer practical solution to finding your location or location of your destination on the map. It is easy and percent accurate. </p>
    <p>Our services are available 24/7 and we are always ready to help you with your traveling needs.</p>
    <p>Just enter your location in fourm and check out the Location map on your leasure.</p>
    <!-- <button hx-get="/test" hx-swap="outerHTML">Test</button> -->
    <div >
        <h2>Check Map</h2>
        <button id="swap-button" hx-get="/checkmap"hx-trigger="mouseenter once" hx-swap="outerHTML">Find Location</button>
    
    <button hx-get="/checkmap" hx-target="#location-form" >Try Again</button>
</div>
    <br />
    <div>
        <h2>Route Serive</h2>
        <p>Our Route service is designed to help you find the best route to your destination. It is easy to use and very accurate. </p>
        <div>
            <h2>Check Route</h2>
            <button id="swap-button" hx-get="/checkoneroute" hx-trigger="mouseenter once" hx-swap="outerHTML">Find Route</button>
            <button hx-get="/checkoneroute" hx-target="#route-point-input" >Try Again</button>
            
        </div>
    </div>
</div>
{% endblock %}