
<div>
    Your location is {{ location }}.
    <br>
    Your Lattitude is {{ latitude }} and Longitude is {{ longitude }}.
    
    
    <div id="map" class="service-map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var lat = {{latitude}};
        var lon = {{longitude}};
       
        document.body.addEventListener('htmx:afterSwap', (event) => {
    // Check if the swapped content includes the map container
    if (document.getElementById('map')) {
        var map = L.map('map', {
            center: [lat, lon],
            zoom: 12
        });

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    }
});
    </script>
</div>


