<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>Traveling Salesman Problem</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body >
    <header>
        {% include 'navbar.html' %}
    </header>
    <main class="content-body">
        <!-- Main content goes here -->
        {% block content %}
        
        {% endblock %}
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </main>
    <footer>
        <p></p>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const year = new Date().getFullYear();
                document.querySelector('footer p').textContent = `© ${year} Innov Software Workshop. All rights reserved.`;
            });
        </script>
    </footer>
</body>
</html>