.route-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.route-result h2 {
  margin-bottom: 20px;
}

/* .route-result img {

  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
} */

#map {
  height: 400px;
  width: 80%;
  position: relative;
  /* z-index: 0; */
}


#route-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

#route-form input {
  margin-bottom: 2px;
}

#route-form button {
  margin-top: 10px;
}
